body {
  background: #212121;
  font-family: sans-serif;
}
.header * {
  margin: 2px;
}
.header  > .col-8{
  margin-top: 40px;
}
 .footer {
 background: #f8f9fa;
 border: 1px solid silver;
}
form {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.input, .button-cs {
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  box-sizing: border-box;
}
.button-cs {
  width: 150px;
  background: #d8e2f0;
  color: #2c2d2e;
}
.input {
  width: 600px;
  margin-right: 20px;
  color: grey;
  padding: 0px; 
  font-size: 16px; 
  box-sizing: border-box; 
}
.comment {
  text-align: left;
  font-size: 12px;
  color: grey; 
}
.foot-link{
  font-size: 10px;
  margin-top: 10px;
}
.red {
  color: red;
  font-size: 12px;
}
.green {
  color: green;
  font-size: 12px;
}
.content h5 {
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
}
.feeds-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.feeds-list > li p {
  margin: 2px 0px;
}
.feed-title {
  font-weight: bold;
  font-size: 12px;
}
.feed-desc {
  font-style: italic;
  margin-top: 3px;
  font-size: 10px;
  color: grey;
}
.items-list {
  list-style: none;
  display: block;
  text-align: left;
}
.li-item {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
